// mediaquery
$mediaPc: "screen and (min-width: 769px)";
$mediaLiquid: "screen and (max-width: 1200px)";
$mediaTablet: "screen and (max-width: 1024px)";
$mediaSp: "screen and (max-width: 768px)";

// font
$font-gothic: "游ゴシック体", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
$font-mincho: "游明朝", YuMincho, "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝",serif;
