- var css_path = "assets/css/"
- var js_path = "assets/js/"
- var img_path = "assets/img/"

-
  var pages = {
    title: "タイトル",
    description: "ディスクリプション",
    keyword: "キーワード",
    siteName: "サイトネーム",
    pageUrl: "url",

    page: {
      top: {
        title: "",
        directory: "",
        ogType: "website"
      },
      lower: {
        title: "lower | ",
        directory: "",
        ogType: "article"
      }
    }
  }
